.dart_tool/
.DS_Store
.atom/
.idea
.vscode/
.packages
.pub/
build/
ios/.generated/
packages
.flutter-plugins
pubspec.lock
*.iml

# ide
.idea/
.vscode/
*.iml
/.flutter-plugins-dependencies

!/android/
/ios/
/windows/
/web/
/macos/
/linux/

.metadata
